.profileContainer{
  display: flex;
  align-items: center;
}

.profileContainer > img{
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.profileContainer > div{
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profileContainer div strong{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title);
}

.profileContainer > div > div{
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.profileContainer div p{
  font-size: 1rem;
}
.profileContainer div button{
  background: transparent;
  border: none;
  color: var(--text);
}

.profileContainer div button:hover{
  color: var(--title);
}

.profileContainer div p img{
  margin-right: 0.5rem;
}